header {
    background-color: rgb(203, 139, 160);
    padding: 10px;
    text-align: center;
}

body {
    background-color: rgb(249, 219, 229);
    font-family: 'Lucida Sans Unicode';
}

button {
    background-color: rgb(237, 192, 207);
    margin: 0.5em;
    padding: 0.5em 1em;
}

.submenu {
    display: flex;
    justify-content: center;
}

h2 strong {
    font-weight: bold;
}

.field-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.artifact .field-group {
  flex: 2 1 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}

.field-group p {
    flex: 1 1 calc(33.333% - 16px);
    margin: 0;
}

.artifact {
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.artifact-img {
    flex: 1 1 300px;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    align-self: center;
}

.artifact .field-group {
    flex: 2 1 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.artifact .field-group p {
    flex: 1 1 calc(33.333% - 16px);
    margin: 0;
    min-width: 200px;
}

.artifact-img-block {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer {
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}