header {
    background-color: rgb(203, 139, 160);
    padding: 10px;
    text-align: center;
}
body {
    background-image: url(../images/museumBackground.png);
    font-family: 'Lucida Sans Unicode';
}
button {
    background-color: rgb(237, 192, 207);
    margin: 0.5em;
    padding: 0.5em 1em;
}

.submenu {
    display: flex;
    justify-content: center;
}

h2 strong {
    font-weight: bold;
}

.field-group {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

.field-group p {
    flex: 1 1 calc(33.333% - 16px);
    margin: 0;
}

.collection-section {
    background-color: white;
    padding: 10px;
}
