header {
    background-color: rgb(95, 133, 100);
    padding: 10px;
    text-align: center;
}

section {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}
body {
    background-image: url(../images/museumBackground.png);
}
button {
    background-color: rgb(130, 166, 134);
}

h1 {
    flex: 1;
    font-family: 'Lucida Sans Unicode';
}

p {
     font-family: 'Lucida Sans Unicode';
}