.staff-persona {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.image {
    text-align: center;
}
.image img {
    max-width: 100%;
    height: auto;
}


.staff-persona.left {
    flex-direction: row;
    align-items: center;
    gap: 20px;

}

.staff-persona.right {
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;

}

.staff-persona .image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.staff-persona .image img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 5px;
}

.staff-persona .bio {
    width: 60%;
}

header {
    background-color: rgb(203, 139, 160);
    text-align: center;
    padding: 10px;
}

section {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin: 30px;
    gap: 10px;
}
body {
    background-image: url(../images/museumBackground.png);
}
button {
    background-color: rgb(237, 192, 207);
    margin: 0.5em;
    padding: 0.5em 1em;
}

h1 {
    flex: 1;
    font-family: 'Lucida Sans Unicode';
}

p {
     font-family: 'Lucida Sans Unicode';
}

ul {
    font-family: 'Lucida Sans Unicode';
}

li {
    font-family: 'Lucida Sans Unicode';
}

footer {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}