.columns {
    display: flex;
    padding: 25px;
    gap: 10px;
}

.columns section {
    flex: 1;
    border: 1px;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
}

header {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}

footer {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}

body {
    background-image: url(../images/museumBackground.png);
}

h1

h2

p

button
