.columns {
    display: flex;
    padding: 25px;
    gap: 10px;
}

.columns section {
    flex: 1;
    border: 1px;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    opacity: 40%;
}

header {
    border-radius: 5px;
    background-color: rgb(164, 153, 153);
    padding: 10px;
    margin: 10px;
}

section {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin: 10px;
    opacity: 40%;
}
footer {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin: 10px;
    opacity: 40%;
}

body {
    background-image: url(../images/museumBackground.png);
}

h1 {
    font-family: monospace;
}

h2 {

}

p {

}

button {
    background-color: rgb(193, 183, 183);
}
