.columns {
    display: flex;
    padding: 25px;
    gap: 10px;
}

.columns section {
    flex: 1;
    border: 1px;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    opacity: 85%;
}

header {
    background-color: rgb(203, 139, 160);
    padding: 10px;
    text-align: center;
}

section {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin: 10px;
    opacity: 85%;
}
footer {
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin: 20px;
    opacity: 85%;
}

body {
    background-image: url(../images/museumBackground.png);
}

h1 {
    flex: 1;
    font-family: 'Lucida Sans Unicode';
}

h2 {
     font-family: 'Lucida Sans Unicode';
}

p {
     font-family: 'Lucida Sans Unicode';
}

button {
    background-color: rgb(237, 192, 207);
    margin: 0.5em;
    padding: 0.5em 1em;
}
